* {
  margin: 0;
  box-sizing: border-box;
}

p,
body {
  margin: 0;
  background-color: #501c22;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #fbb040;
  font-size: 170px;
  line-height: 130px;
}

.low {
  font-family: "Lalezar", system-ui;
  color: #b15352;
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: medium;
  justify-content: baseline;
}

.up {
  font-family: "Lalezar", system-ui;
  color: #b15352;
  margin-top: 40px;
  margin-left: 60px;
  font-size: large;
}

.container {
  width: 50%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
}

.bild1 {
  object-fit: cover;
  width: 70%;
  height: 70%;
}

.bild1 img {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.box {
  width: 50%;
  height: 100%;
}

.boxen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.nedre-boxen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.bild2 {
  height: 100%;
  width: 40%;
}

.bild2 img {
  object-fit: fill;
  object-position: center;
  margin-top: 50px;
}

.box2 {
  width: 40%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
}

.rubrik {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Lalezar", system-ui;
  color: #f7c3cf;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.brödtext {
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #f7c3cf;
}

.avslut {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  color: #f7c3cf;
}

.fot {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #b15352;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  color: #501c22;
  font-family: "Lalezar", system-ui;
  font-size: 20px;
  text-decoration: none;
}

.knapp {
  background-color: #fbb040;
  padding: 5px 15px;
  border-radius: 130px;
  text-decoration: none;
  color: #501c22;
  font-family: "Lalezar", system-ui;
}

.knapp:hover {
  box-shadow: 10px 5px 5px rgb(45, 24, 26);
}

.knapp2 {
  background-color: #fbb040;
  padding: 5px 15px;
  border-radius: 130px;
  text-decoration: none;
  color: #b15352;
  font-family: "Lalezar", system-ui;
}

.knapp2:hover {
  box-shadow: 10px 5px 5px rgb(106, 54, 59);
}

.arrow {
  border: solid #501c22;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow2 {
  border: solid #b15352;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow3 {
  border: solid #b15352;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projekt {
  font-family: "Lalezar", system-ui;
  color: #b15352;
  text-align: center;
  padding: 20px;
  margin: auto;
  font-size: xx-large;
  background-color: #501c22;
  position: fixed;
  width: 100vw;
  margin-bottom: 100px;
}

.allaprojekt {
  margin-top: 50px;
}
.box1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-color: #b15352;
  margin: 100px;
  padding: 50px;
  gap: 40px;
}

.boxpuls img {
  width: 100%;
}

.projektbild1 {
  width: 40vw;
}

.projekttext {
  color: #fbb040;
  font-family: "Lalezar", system-ui;
  font-size: xx-large;
  background-color: #b15352;
}

.projektbeskrivning {
  font-size: large;
  color: #f7c3cf;
  font-family: "Montserrat", sans-serif;
  background-color: #b15352;
  width: 90%;
  padding-bottom: 30px;
}

.projektinfo {
  width: 50%;
}

.treDprojekt {
  display: flex;

  align-items: flex-start;
  background-color: #b15352;
  margin: 100px;
  padding: 50px;
  gap: 40px;
}

.tillbakaknapp a:hover {
  color: #f7c3cf;
  transition: color 0.4s ease;
}

.tillbakaknapp a {
  text-decoration: none;
  color: #b15352;
}

.tillbakaknapp {
  position: fixed;
  top: 40px;
  left: 20px;
  font-family: "Lalezar", system-ui;
}

@media (max-width: 800px) {
  .nedre-boxen {
    flex-direction: column-reverse;
    justify-content: right;
  }

  .containter {
    width: 80%;
  }

  .box {
    width: 50%;
    height: 100%;
  }
  .box2 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 100px;
  }

  .bild2 {
    width: 100%;
    margin-right: 50px;
  }
  .low {
    font-size: 8px;
    margin-left: 10px;
    font-weight: 100;
  }
  .up {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 190px;
    font-weight: 200;
  }
  h1 {
    font-size: 90px;
    line-height: 70px;
  }
  .bild1 {
    margin-left: 20px;
    width: 90%;
    height: 90%;
  }

  .projektbeskrivning {
    font-size: 0px;
    padding-bottom: 70px;
  }

  .projekttext {
    font-size: 20px;
  }

  .brödtext {
    font-size: 18px;
    width: 90%;
    line-height: 30px;
  }

  .box1 {
    padding: 20px;
    margin: 40px;
  }

  .treDprojekt {
    padding: 20px;
    margin: 40px;
  }

  .projekt {
    font-size: 30px;
  }
}
